
#modal {
    align-items: flex-start;
    width: 550px;
    height: 450px;
    background: #ffc2fb;
    border: 7px solid #F5F5F5;
    border-radius: 50px;
    overflow: hidden;
   
 
 }
 .form-modal {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   padding: 24px;
   gap: 24px;
   position: relative;
   left: 55px;
   width: 293px;
   height: 340px;
   filter: drop-shadow(0px 3px 5px rgba(46, 46, 66, 0.08));
   border-radius: 5px;
}
 
 
 
 
 .form_input {
    position: absolute;
    top: 168px;
    left: 19px;
    box-sizing: border-box;
    width: 427px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
    text-indent: 30px;
 
 }
 
 .card-name {
    color: #52525C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    top: 145px;
    left: 20px;
 }
 
 .card-expires {
    color: #52525C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 12px;
    line-height: 53px;
    position: absolute;
    top: 200px;
    left: 20px;
 }
 
 .card-mouth {
    position: absolute;
    top: 240px;
    left: 20px;
    box-sizing: border-box;
    padding: 12px 16px;
    width: 58px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
 }
 
 .card-year {
    position: absolute;
    top: 240px;
    left: 100px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    width: 58px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
 
 }
 
 .card-security {
    position: absolute;
    left: 222px;
    top: 216px;
    color: #52525C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
 }
 
 .Security-code {
    box-sizing: border-box;
    position: absolute;
    left: 217px;
    top: 242px;
    padding: 12px 16px;
    gap: 8px;
    width: 230px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
    text-indent: 15px;
 
 }
 
 .btn-submit {
    position: absolute;
    bottom: -30px;
    left: 160px;
    padding: 0px 16px;
    position: absolute;
    width: 150px;
    height: 30px;
    background: #000000;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Inter' cursive;
    border: none;
    cursor: pointer;
 }
 
 .card-holder {
    position: absolute;
    left: 25px;
    top: 289px;
    color: #52525C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
 }
 
 .holder-name {
    box-sizing: border-box;
    position: absolute;
    top: 315px;
    left: 20px;
    display: flex;
    flex-direction: row;
    width: 427px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
    text-indent: 15px;
 }
 
 .txt-end {
   width: 300px;
    position: absolute;
    bottom: -80px;
    left: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #52525C;
 
 }
 
 #btn-cerrar-modal {
 
    position: absolute;
    left: 450px;
    top: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
 }
 
 .card-credit {
 
    width: 180px;
    height: 140px;
    position: absolute;
    left: 150px;
    top: 5px;
 
 }
 
 .icon-card {
    width: 20px;
    position: absolute;
    top: 175px;
    left: 25px;
 }
 
 .icon-security {
    width: 21px;
    position: absolute;
    top: 248px;
    left: 230px;
 
 }